@import 'settings.css';

html, body {
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
}

.container-fluid {
    padding: 0;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}

p {
    padding: 0;
    margin: 0;
    line-height: 1;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: "ProximaNova";
    color: var(--main-text-color);
}

/* Header style **********************
***************************************/
header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--main-text-color);
    font-size: var(--standart-text-size);
    font-weight: bold;

}

.header-active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-language {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: -10px;
}

.header-language a {
    font-size: 16px;
    color: var(--main-text-color);
    display: flex;
    justify-content: flex-end;
    font-weight: 200;
}

.header-language .header-language__active {
    font-size: 20px;
    color: #4285f4;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.header-menu {
    position: relative;
}

.header-menu__button {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    animation: menu-close 0.8s
}

.header-menu__button span {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 6px;
    margin: 0 1px;
}

.header-menu__button-active {
    justify-content: center;
    animation: menu-open 0.8s;
    flex-direction: column;
}

.header-menu__button-active span {
    background: #4285f4;
    transition: 0.4s;
    margin: 1px 0;
}




.header-menu__list {
    opacity: 0;
    position: absolute;
    top: -400px;
    right: -300px;
    background: var(--color-darkgrey);
    padding: 12px 15px 19px 29px;
    z-index: 9999;
    width: 190px;
    border-radius: 30px 0 30px 30px;
    animation: list-close 0.6s
}

.header-menu__list ul {
    text-align: right;
    margin: 0;
    padding: 0;
}

.header-menu__list ul li {
    list-style: none;
    padding: 5px 0;
}

.header-menu__list ul li a {
    text-decoration: none;
    black-space: nowrap;
    color: white;
    font-size: 16px;
    line-height: 12.5px;
}

.header-menu__list-active {
    opacity: 1;
    top: 90px;
    right: 0;
    animation: list-open 0.8s
}

@keyframes menu-open {
    0% {

        transform: scale(0);
    }

    100% {

        transform: scale(1);

    }
}

@keyframes menu-close {
    0% {

        transform: scale(0);
    }

    100% {

        transform: scale(1);
    }
}

@keyframes list-open {
    0% {
        top: -400px;
        right: -300px;
        transform: scale(0);
    }

    50% {
        top: -200px;
        right: -150px;
        transform: scale(0.5);
    }

    100% {
        top: 90px;
        right: 0;
        transform: scale(1);
    }
}

@keyframes list-close {
    0% {
        top: 90px;
        right: 0px;
        transform: scale(1);
        opacity: 1;
    }

    50% {
        top: -200px;
        right: -150px;
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        top: -400px;
        right: -300px;
        transform: scale(0);
        opacity: 0;
    }
}

/* Home page ******************************
********************************* */

.main-agency {
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
    margin-top: 5px;
    background-position: center;
    background-size: cover;
    padding: 0;
    padding-bottom: 147px;
    background-repeat: no-repeat;
}


.main-agency__text {
    display: flex;
    position: relative;
}

.main-agency__name {
    margin-top: 190px;
    font-size: var(--medium-text-size);
    color: var(--main-text-color);
    font-weight: bold;
}

.main-agency__text h1 {
    color: white;
    margin-top: 60px;
    font-size: var(--big-text-size);
    font-weight: bold;
}

.main-agency__brif {
    margin-top: 257px;
    padding: 20px 23px 20px 68px;
    background: var(--color-darkgrey);
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-agency__brif span {
    color: white;
    font-size: var(--minimal-text-size);
    text-transform: uppercase;
}

.main-agency__brif a {
    padding: 20px 58px;
    border-radius: 34px;
    background: var(--color-blue);
    font-size: var(--medium-text-size);
    display: flex;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.main-agency__network {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    right: 0;
    top: calc(50% - 26px * 6)
}

.main-agency__network a {
    display: flex;
    justify-content: center;
    width: 36px;
    margin: 6px 0;
}

.main-agency__network a i {
    font-size: 30px;
    color: var(--main-text-color);
    transition: 0.4s;
}

.main-agency__network a:nth-child(3) i {
    color: white;
}

.main-agency__network a i:hover {
    font-size: 40px;
    transition: 0.4s;
}

/* About-us page ***********************
*************************************** */
.about-us {
    margin-top: 160px;
    background-color: var(--color-blue);
    position: relative;

}

.about-us__wrapper {
    position: relative;
    padding-top: 130px;
    padding-bottom: 305px;
}

.about-us__circle {
    position: absolute;
    left: 100px;
    top: -190px;
    z-index: 1;
}

.about-us__director {
    position: absolute;
    left: 15px;
    z-index: 3;
    top: -149px;
}

.about-us__title {
    position: relative;
    z-index: 4;
    margin-left: -15px;
}

.about-us__title p {
    color: white;
    font-size: var(--big-text-size);
    font-weight: 800;
    margin-bottom: 5px;
}

.about-us__title span {
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.overtext {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 17.5vw;
    display: flex;
    justify-content: center;
}

.overtext span {
    color: transparent;
    -webkit-text-stroke: 1px white;
    display: block;
    font-size: 18.5vw;
    font-weight: 800;
    font-family: "ProximaNova";
    text-transform: uppercase;
    white-space: nowrap;

}

/* Portfolio page *************************
*******************************************
******************************************* */
.portfolio-page {
    margin-top: 118px;
    margin-bottom: 160px;
    background-color: var(--color-blue);
    position: relative;
}

.portfolio-page__wrapper {
    position: relative;
}

.portfolio-page__title {
    font-size: var(--big-text-size);
    font-weight: 800;
    color: var(--main-text-color);
    max-width: 80%;
    margin-top: -45px;
    text-transform: uppercase;
}

.portfolio-page__subtitle {
    font-size: 25px;
    color: white;
    margin-top: 14px;
}

.portfolio-page__list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    position: relative;
    z-index: 3;
    margin-bottom: 87px;
}

.portfolio-page__list-item {
    width: calc(100% / 3 - 28px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93px;
    background-color: var(--color-darkgrey);
    border-radius: 45px;
    margin-right: 28px;
    margin-bottom: 28px;
    position: relative;
    transition: 0.4s;
}

.portfolio-page__list-item a {
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    transition: 0.4s;
    max-width: 80%;
}

.portfolio-page__list-item span i {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 40px;
    font-size: 25px;
    color: var(--color-blue);
    opacity: 0;
    transform: scale(0);
    transform-origin: 0 0;
    transition: 0.6s;
}

.portfolio-page__list-item:hover {
    background: white;
    transition: 0.4s;
}

.portfolio-page__list-item:hover a {
    color: var(--main-text-color);
    transition: 0.4s;
}

.portfolio-page__list-item:hover span i {
    opacity: 1;
    transform: scale(1);
    transform-origin: -100% 50px;
    transition: 1s;
}

.portfolio-page .main-agency__network {
    right: 24px;
    z-index: 4;
}



/* Services page **************************
*******************************************
****************************************** */

.services-page {
    background-color: var(--color-blue);
    margin-top: 117px;
    padding-bottom: 90px;
    position: relative;
}

.services-page__wrapper {
    position: relative;
}

.services-page__title {
    font-size: var(--big-text-size);
    font-weight: 800;
    color: var(--main-text-color);
    max-width: 80%;
    margin-top: -45px;
    text-transform: uppercase;
    line-height: 83px;
}

.services-page__subtitle {
    font-size: 25px;
    color: white;
    margin-top: 14px;
}

.services-page .slider-item__theme {
    min-height: 267px;
    width: 266px;
    background-color: var(--color-darkgrey);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.4s;
}

.services-page .slider-item__theme a {
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 14px;
    box-sizing: border-box;
    width: 100%;
    height: 260px;
    transition: 0.4s;
}

.services-page .slider-item__theme i {
    color: var(--color-blue);
    font-size: 35px;
    position: absolute;
    left: 15px;
    top: calc(55%);
    margin-top: 10px;
}

.services-page .slider-item__theme:hover {
    background-color: white;
    transition: 0.4s;
}

.services-page .slider-item__theme:hover a {
    color: var(--color-darkgrey);
    transition: 0.4s;
}

.slider-services {
    position: relative;
    z-index: 5;
    margin-left: calc(80% - 1170px);
}

.slider-services .slick-list {
    margin: 0 !important;
}

.slider-services .slick-prev {
    right: calc(109% - 1170px);
    background: var(--color-darkgrey);
}

.slider-services .slick-next {
    right: calc(103% - 1170px);
    background: var(--color-darkgrey);
}

.services-page .main-agency__network {
    right: 25px;
    top: -45px;
}

.services-page .slick-active {
    opacity: 1;
    transition: 1s;
}

.services-page .slick-opacity {
    opacity: 0.5;
    animation: services-slider-item-animation 1s ease-in-out;
}

@keyframes services-slider-item-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

/* Request page ********************************
************************************************
********************************************** */

.request-page {
    background-color: var(--color-blue);
    margin-top: 122px;
    min-height: 610px;
}

.request-page__wrapper {
    position: relative;
    min-height: 610px;
}

.request-page__circle {
    margin-top: -122px;
    position: absolute;
    left: 0;
}

.request-page__title {
    position: absolute;
    z-index: 1;
}

.request-page__title p {
    color: white;
    font-size: var(--big-text-size);
    font-weight: 800;
    padding-left: 160px;
    max-width: 80%;
    line-height: var(--big-text-size);
}

.request-page__title span {
    color: white;
    font-weight: 500;
    font-size: 25px;
    margin-top: 22px;
    padding-left: 160px;
}

.request-page__callback {
    background-color: var(--color-darkgrey);
    position: absolute;
    right: -40px;
    width: 280px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 77px;
    border-radius: 30px;
}

.request-page__callback p {
    color: white;
    font-size: 25px;
    font-weight: 800;
    margin-top: 17px;
    text-align: center;
}

.request-page__callback span {
    color: white;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.request-page__callback button {
    margin-top: 15px;
    background-color: var(--color-blue);
    border: 0;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.request-page__callback button:hover {
    background-color: transparent;
    border: 1px solid var(--color-blue);
    transition: 0.4s;
}


/* Casey page ********************************
***********************************************
********************************************* */
.casey-page {
    position: relative;
    margin-top: 136px;
}

.casey-page .overtext {
    justify-content: flex-start;
}

.casey-page .overtext span {
    -webkit-text-stroke: 2px var(--color-blue);
    color: white;
}

/* FONTS ******************************
*************************************** */

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}