@import 'settings.css';

header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--main-text-color);
    font-size: var(--standart-text-size);

}

.header-active {
    display: flex;

}

.header-search,
.header-callback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}