@import 'settings.css';


.container {
    max-width: 1170px;
}

a {
    text-decoration: none;
}

/* Header style **********************
***************************************/
header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--main-text-color);
    font-size: var(--standart-text-size);
    font-weight: bold;

}

.header-active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-language {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: -10px;
}

.header-language a {
    font-size: 16px;
    color: var(--main-text-color);
    display: flex;
    justify-content: flex-end;
    font-weight: 200;
}

.header-language .header-language__active {
    font-size: 20px;
    color: #4285f4;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.header-menu {
    position: relative;
}

.header-menu__button {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    animation: menu-close 0.8s
}

.header-menu__button span {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 6px;
    margin: 0 1px;
}

.header-menu__button-active {
    justify-content: center;
    animation: menu-open 0.8s;
    flex-direction: column;
}

.header-menu__button-active span {
    background: #4285f4;
    transition: 0.4s;
    margin: 1px 0;
}




.header-menu__list {
    display: none;
    position: absolute;
    top: -400px;
    right: -300px;
    background: var(--color-darkgrey);
    padding: 12px 15px 19px 29px;
    z-index: 9999;
    width: 190px;
    border-radius: 30px 0 30px 30px;
    animation: list-close 0.6s
}

.header-menu__list ul {
    text-align: right;
    margin: 0;
    padding: 0;
}

.header-menu__list ul li {
    list-style: none;
    padding: 5px 0;
}

.header-menu__list ul li a {
    text-decoration: none;
    white-space: nowrap;
    color: white;
    font-size: 16px;
    line-height: 12.5px;
}

.header-menu__list-active {
    display: block;
    top: 90px;
    right: 0;
    animation: list-open 0.8s
}

@keyframes menu-open {
    0% {

        transform: scale(0);
    }

    100% {

        transform: scale(1);

    }
}

@keyframes menu-close {
    0% {

        transform: scale(0);
    }

    100% {

        transform: scale(1);
    }
}

@keyframes list-open {
    0% {
        top: -400px;
        right: -300px;
        transform: scale(0);
    }

    50% {
        top: -200px;
        right: -150px;
        transform: scale(0.5);
    }

    100% {
        top: 90px;
        right: 0;
        transform: scale(1);
    }
}

@keyframes list-close {
    0% {
        top: -400px;
        right: -300px;
        transform: scale(0);
    }

    50% {
        top: -200px;
        right: -150px;
        transform: scale(0.5);
    }

    100% {
        top: 90px;
        right: 0;
        transform: scale(1);
    }
}

/* Home page ******************************
********************************* */

.main-agency__bg {
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
    margin-top: 5px;
    padding: 0;
}

.main-agency__text {
    position: absolute;
    display: flex;
    width: 100%;
}

.main-agency__name {
    margin-top: 190px;
    font-size: var(--medium-text-size);
    color: var(--main-text-color);
    font-weight: bold;
}

.main-agency__text h1 {
    color: white;
    margin-top: 60px;
    font-size: var(--big-text-size);
    font-weight: bold;
}

.main-agency__brif {
    margin-top: 257px;
    padding: 20px 23px 20px 68px;
    background: var(--color-darkgrey);
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-agency__brif span {
    color: white;
    font-size: var(--minimal-text-size);
    text-transform: uppercase;
}

.main-agency__brif a {
    padding: 20px 58px;
    border-radius: 34px;
    background: var(--color-blue);
    font-size: var(--medium-text-size);
    display: flex;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}