@import 'settings.css';


/* Header style **********************
***************************************/
header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--main-text-color);
    font-size: var(--standart-text-size);
    font-weight: bold;

}

.header-active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-language {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.header-language a {
    font-size: 16px;
    color: var(--main-text-color);
    display: flex;
    justify-content: flex-end;
    font-weight: 200;
}

.header-language .header-language__active {
    font-size: 20px;
    color: var(--main-blue-color);
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.header-menu__button {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    position: relative;
    animation: menu-close 0.8s
}

.header-menu__button span {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 6px;
    margin: 0 2px;
}

.header-menu__button-active {
    justify-content: center;
    animation: menu-open 0.8s;
    flex-direction: column;
}

.header-menu__button-active span {
    background: #4285f4;
    transition: 0.4s;
    margin: 2px 0;
}

@keyframes menu-open {
    0% {

        transform: scale(0);
    }

    100% {

        transform: scale(1);

    }
}

@keyframes menu-close {
    0% {

        transform: scale(0);
    }

    100% {

        transform: scale(1);
    }
}


.header-menu__list {
    display: none;
    position: absolute;
    top: 90px;
    right: 0;
    background: var(--menu-backgorund);
    padding: 12px 15px 19px 29px;
    z-index: 9999;
    width: 190px;
    border-radius: 30px 0 30px 30px;
}

.header-menu__list ul {
    text-align: right;
    margin: 0;
    padding: 0;
}

.header-menu__list ul li {
    list-style: none;
    padding: 5px 0;
}

.header-menu__list ul li a {
    text-decoration: none;
    white-space: nowrap;
    color: white;
    font-size: 16px;
    line-height: 12.5px;
}

.header-menu__list-active {
    display: block;
}

/* Main page ******************************
********************************* */
.main-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bg__left {
    height: 599px;
}

.main-bg__left span {
    background: var(--main-blue-color);
    height: 100%;
    width: 30%;
}

.main-bg__circle span {
    width: 986px;
    height: 986px;
    border-radius: 50%;
    background: var(--main-blue-color);
    display: block;
    margin-left: -200px;
}