@import 'settings.css';
@import 'animation.css'


/* Header style **********************
***************************************/
header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--main-text-color);
    font-size: var(--standart-text-size);

}

.header-active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-language {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.header-language a {
    font-size: 16px;
    color: var(--main-text-color);
    display: flex;
    justify-content: flex-end;
}

.header-language .header-language__active {
    font-size: 20px;
    color: #4285f4;
    display: flex;
    justify-content: flex-end;
}

.header-menu__button {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    position: relative;
    animation: menu-close 0.8s
}

.header-menu__button span {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 6px;
    margin: 0 2px;
}

.header-menu__button-active {
    justify-content: center;
    animation: var(--menu-animation) 0.8s;
    flex-direction: column;
}

.header-menu__button-active span {
    background: #4285f4;
    transition: 0.4s;
    margin: 2px 0;
}


.header-menu__list {
    display: none;
    position: absolute;
    top: 90px;
    right: 0;
    background: var(--menu-backgorund);
    padding: 12px 15px 19px 29px;
    z-index: 9999;
    width: 190px;
}

.header-menu__list ul {
    text-align: right;
    margin: 0;
    padding: 0;
}

.header-menu__list ul li {
    list-style: none;
    padding: 5px 0;
}

.header-menu__list ul li a {
    text-decoration: none;
    white-space: nowrap;
    color: white;
    font-size: 16px;
    line-height: 12.5px;
}

.header-menu__list-active {
    display: block;
}

/* ******************************
********************************* */