@import 'settings.css';

html {
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
}

.container-fluid {
    padding: 0;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}

p {
    padding: 0;
    margin: 0;
    line-height: 1;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: "ProximaNova";
    color: var(--main-text-color);
}

/* Header style **********************
***************************************/
header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--main-text-color);
    font-size: var(--standart-text-size);
    font-weight: bold;

}

.header-active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-language {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: -10px;
}

.header-language a {
    font-size: 16px;
    color: var(--main-text-color);
    display: flex;
    justify-content: flex-end;
    font-weight: 200;
}

.header-language .header-language__active {
    font-size: 20px;
    color: #4285f4;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.header-menu {
    position: relative;
}

.header-menu__button {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    animation: menu-close 0.8s
}

.header-menu__button span {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 6px;
    margin: 0 1px;
}

.header-menu__button-active {
    justify-content: center;
    animation: menu-open 0.8s;
    flex-direction: column;
}

.header-menu__button-active span {
    background: #4285f4;
    transition: 0.4s;
    margin: 1px 0;
}




.header-menu__list {
    opacity: 0;
    position: absolute;
    top: -400px;
    right: -300px;
    background: var(--color-darkgrey);
    padding: 12px 15px 19px 29px;
    z-index: 9999;
    width: 190px;
    border-radius: 30px 0 30px 30px;
    animation: list-close 0.6s
}

.header-menu__list ul {
    text-align: right;
    margin: 0;
    padding: 0;
}

.header-menu__list ul li {
    list-style: none;
    padding: 5px 0;
}

.header-menu__list ul li a {
    text-decoration: none;
    black-space: nowrap;
    color: white;
    font-size: 16px;
    line-height: 12.5px;
}

.header-menu__list-active {
    opacity: 1;
    top: 90px;
    right: 0;
    animation: list-open 0.8s
}

@keyframes menu-open {
    0% {

        transform: scale(0);
    }

    100% {

        transform: scale(1);

    }
}

@keyframes menu-close {
    0% {

        transform: scale(0);
    }

    100% {

        transform: scale(1);
    }
}

@keyframes list-open {
    0% {
        top: -400px;
        right: -300px;
        transform: scale(0);
    }

    50% {
        top: -200px;
        right: -150px;
        transform: scale(0.5);
    }

    100% {
        top: 90px;
        right: 0;
        transform: scale(1);
    }
}

@keyframes list-close {
    0% {
        top: 90px;
        right: 0px;
        transform: scale(1);
        opacity: 1;
    }

    50% {
        top: -200px;
        right: -150px;
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        top: -400px;
        right: -300px;
        transform: scale(0);
        opacity: 0;
    }
}

/* Home page ******************************
********************************* */

.main-agency {
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
    margin-top: 5px;
    background-position: center;
    background-size: cover;
    padding: 0;
    padding-bottom: 147px;
    background-repeat: no-repeat;
}


.main-agency__text {
    display: flex;
    position: relative;
}

.main-agency__name {
    margin-top: 190px;
    font-size: var(--medium-text-size);
    color: var(--main-text-color);
    font-weight: bold;
}

.main-agency__text h1 {
    color: white;
    margin-top: 60px;
    font-size: var(--big-text-size);
    font-weight: bold;
}

.main-agency__brif {
    margin-top: 257px;
    padding: 20px 23px 20px 68px;
    background: var(--color-darkgrey);
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-agency__brif span {
    color: white;
    font-size: var(--minimal-text-size);
    text-transform: uppercase;
}

.main-agency__brif a {
    padding: 20px 58px;
    border-radius: 34px;
    background: var(--color-blue);
    font-size: var(--medium-text-size);
    display: flex;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.main-agency__network {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    right: 0;
    top: calc(50% - 26px * 6)
}

.main-agency__network a {
    display: flex;
    justify-content: center;
    width: 36px;
    margin: 6px 0;
}

.main-agency__network a i {
    font-size: 30px;
    color: var(--main-text-color);
    transition: 0.4s;
}

.main-agency__network a:nth-child(3) i {
    color: white;
}

.main-agency__network a i:hover {
    font-size: 40px;
    transition: 0.4s;
}

/* About-us page ***********************
*************************************** */
.about-us {
    margin-top: 160px;
    background-color: var(--color-blue);

}

.about-us__wrapper {
    position: relative;
    padding-top: 130px;
    padding-bottom: 305px;
}

.about-us__circle {
    position: absolute;
    left: 100px;
    top: -190px;
    z-index: 1;
}

.about-us__director {
    position: absolute;
    left: 15px;
    z-index: 3;
    top: -149px;
}

.about-us__title {
    position: relative;
    z-index: 4;
    margin-left: -15px;
}

.about-us__title p {
    color: white;
    font-size: var(--big-text-size);
    font-weight: 800;
    margin-bottom: 5px;
}

.about-us__title span {
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.about-us__overtext {
    display: block;
    font-size: 400px;
    font-weight: 800;
    font-family: "ProximaNova";
    mix-blend-mode: multiply;
    background: transparent;
    color: black;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    text-shadow:
        1 -0.2px 0 white,
        1 -0.2px 0 white,
        -0 0.2px 0 white,
        0 0.2px 0 white,
        -0.2px -0 0 white,
        0.2px -0 0 white,
        -0.2px 0 0 white,
        0.2px 0 0 white,
        -0.2px -0.2px 0 white,
        0.2px -0.2px 0 white,
        -0.2px 0.2px 0 white,
        0.2px 0.2px 0 white,
        -0.2px -0.2px 0 white,
        0.2px -0.2px 0 white,
        -0.2px 0.2px 0 white,
        0.2px 0.2px 0 white;
}

/* FONTS ******************************
*************************************** */

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}