/* .main {
    display: flex;
    flex-direction: column;
} */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


/* Who main page *********************************
************************************************** */
.who {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.who-text {
    margin: 12px 0 108px 0;
    width: 80%;
    font-size: 41px;
}