/* .main {
    display: flex;
    flex-direction: column;
} */
/* html {
    overflow-x: hidden;
} */


img {
    max-width: 100%;
    display: block;
}

/* Who main page *********************************
************************************************** */
.who {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.who-text {
    margin: 12px 0 108px 0;
    width: 80%;
    font-size: 41px;
    color: var(--main-text-color);
    font-weight: 500;
}

.who-title h2 {
    font-size: var(--big-text-size);
    color: var(--main-text-color);
    font-size: 800;
}

.who-elements {
    display: flex;
    justify-content: space-between;
}

.who-elements__bar {
    max-width: 361px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #e1e1e1;
    padding: 78px 25px;
    border-radius: 180px;

}

.who-elements__bar-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9px;
}

.who-elements__bar-items p {
    text-align: center;
    margin-top: 15px;
    font-size: var(--minimal-text-size);
    font-weight: 500;
    color: var(--main-text-color);
}

.who-elements__item {
    position: relative;
    padding: 30px 0;
}

.who-elements__item p {
    font-size: var(--medium-text-size);
    color: var(--main-text-color);
    font-weight: 600;
    position: absolute;
    bottom: 100px;
    left: 70px;
}

.who-elements__item span {
    font-size: var(--standart-text-size);
    color: var(--main-text-color);
    position: absolute;
    font-weight: 500;
    bottom: 60px;
    left: 70px;
}

.who-elements__items .item-white p,
.who-elements__items .item-white span {
    color: white;
}

.who-digit {
    margin-top: 142px;
}

.who-digit__title {
    font-size: var(--big-text-size);
    color: var(--main-text-color);
    font-weight: 800;
}

.who-digit__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.who-digit-item {
    width: calc(100% / 3);
    height: 300px;
}

.who-digit-item lable {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 41px;
    color: white;
    background-color: #4285f4;
    max-width: 361px;
    min-height: 111px;
    border-radius: 55px;
}

.who-digit__wrapper .who-digit-item p {
    font-size: var(--minimal-text-size);
    font-weight: 500;
    width: 80%;
    margin: 32px auto 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    height: 150px;
}

.digit-animation-0 {
    animation: typing 3.5s steps(60, end), blink-caret .7s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.digit-animation-1 {
    animation: typing 5s steps(30, end), blink-caret .7s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.digit-animation-2 {
    animation: typing 5s steps(30, end), blink-caret .7s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    text-align: center
}

@keyframes digit-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

/* Benefits main page ******************
******************************************/
.benefits {
    margin-top: 149px;
}

.benefits-title {
    font-size: var(--big-text-size);
    color: var(--main-text-color);
    font-weight: 800;
}

.benefits-tab__wrapper {
    margin-top: 37px;
}

.benefits-tab__item {
    border-top: 3px solid var(--main-text-color);
    display: flex;
    align-items: center;
    position: relative;
}

.benefits-tab__item-head {
    min-width: 280px;
}

.benefits-tab__item-head p {
    font-size: 158px;
    font-weight: 800;
    color: var(--main-text-color);
    transition: 0.4s;

}

.benefits-tab__item-body .item-body__title {
    font-size: 45px;
    color: var(--main-text-color);
    margin-left: 35px;
    font-weight: 700;
    font-style: italic;
    transition: 0.4s;
}

.benefits-tab__item-button {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: var(--color-blue);
    position: absolute;
    right: 15px;
    top: calc(50% - 34px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.benefits-tab__item-horizontal {
    width: 4px;
    height: 42px;
    background-color: white;
    transition: 0.4s;
}

.benefits-tab__item-vertical {
    width: 42px;
    height: 4px;
    background-color: white;
    position: absolute;
    transition: 0.4s;
}

.item-body__text {
    opacity: 0;
    transform: scale(0);
    height: 0;
    transition: 0.4s;
    max-width: 80%;
}

.benefits-tab__item-active .benefits-tab__item-head p {
    text-shadow: 1px 0 1px var(--main-text-color),
        0 1px 1px var(--main-text-color),
        -1px 0 1px var(--main-text-color),
        0 -1px 1px var(--main-text-color);
    color: white;
    font-size: 220px;
    transition: 0.4s;
}

.benefits-tab__item-active .item-body__title {
    font-style: normal;
    font-weight: 800;
    margin-bottom: 8px;
    margin-top: 30px;
    transition: 0.4s;
}

.benefits-tab__item-active .item-body__text {
    font-size: 20px;
    font-weight: 500;

    margin-left: 35px;
    color: var(--main-text-color);
    opacity: 1;
    height: auto;
    transform: scale(1);
    transition: 0.4s;
}

.benefits-tab__item-active .item-body__text p {
    margin-bottom: 15px;
    transition: 0.4s;
}

.benefits-tab__item-active .benefits-tab__item-button {
    background-color: var(--main-text-color);
    transition: 0.4s;
}

.benefits-tab__item-active .benefits-tab__item-horizontal {
    transform: rotate(90deg);
    transition: 0.4s;
}