/* .main {
    display: flex;
    flex-direction: column;
} */
/* html {
    overflow-x: hidden;
} */


img {
    max-width: 100%;
    display: block;
}

/* Who main page *********************************
************************************************** */
.who {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.who-text {
    margin: 12px 0 108px 0;
    width: 80%;
    font-size: 41px;
    color: var(--main-text-color);
    font-weight: 500;
}

.who-title h2 {
    font-size: var(--big-text-size);
    color: var(--main-text-color);
    font-size: 800;
}

.who-elements {
    display: flex;
    justify-content: space-between;
}

.who-elements__bar {
    max-width: 361px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #e1e1e1;
    padding: 78px 25px;
    border-radius: 180px;

}

.who-elements__bar-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9px;
}

.who-elements__bar-items p {
    text-align: center;
    margin-top: 15px;
    font-size: var(--minimal-text-size);
    font-weight: 500;
    color: var(--main-text-color);
}

.who-elements__item {
    position: relative;
    padding: 30px 0;
}

.who-elements__item p {
    font-size: var(--medium-text-size);
    color: var(--main-text-color);
    font-weight: 600;
    position: absolute;
    bottom: 100px;
    left: 70px;
}

.who-elements__item span {
    font-size: var(--standart-text-size);
    color: var(--main-text-color);
    position: absolute;
    font-weight: 500;
    bottom: 60px;
    left: 70px;
}

.who-elements__items .item-white p,
.who-elements__items .item-white span {
    color: white;
}

.who-digit {
    margin-top: 142px;
}

.who-digit__title {
    font-size: var(--big-text-size);
    color: var(--main-text-color);
    font-weight: 800;
}

.who-digit__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.who-digit-item {
    width: calc(100% / 3);
    height: 300px;
}

.who-digit-item lable {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 41px;
    color: white;
    background-color: #4285f4;
    max-width: 361px;
    min-height: 111px;
    border-radius: 55px;
}

.who-digit__wrapper .who-digit-item p {
    font-size: var(--minimal-text-size);
    font-weight: 500;
    width: 80%;
    margin: 32px auto 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    height: 150px;
}

.digit-animation-0 {
    animation: typing 3.5s steps(60, end), blink-caret .7s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.digit-animation-1 {
    animation: typing 5s steps(30, end), blink-caret .7s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.digit-animation-2 {
    animation: typing 5s steps(30, end), blink-caret .7s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    text-align: center
}

@keyframes digit-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

/* Benefits main page ******************
******************************************/
.benefits {
    margin-top: 149px;
}

.benefits-title {
    font-size: var(--big-text-size);
    color: var(--main-text-color);
    font-weight: 800;
}

.tab__wrapper {
    margin-top: 37px;
}

.tab__item {
    border-top: 3px solid var(--main-text-color);
    display: flex;
    align-items: center;
    position: relative;
}

.tab__item-head {
    min-width: 280px;
}

.tab__item-head p {
    font-size: 158px;
    font-weight: 800;
    color: var(--main-text-color);
    transition: 0.4s;

}

.tab__item-body .item-body__title {
    font-size: 45px;
    color: var(--main-text-color);
    margin-left: 35px;
    font-weight: 700;
    font-style: italic;
    transition: 0.4s;
}

.tab__item-button {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: var(--color-blue);
    position: absolute;
    right: 15px;
    top: calc(50% - 34px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.tab__item-horizontal {
    width: 4px;
    height: 42px;
    background-color: white;
    transition: 0.4s;
}

.tab__item-vertical {
    width: 42px;
    height: 4px;
    background-color: white;
    position: absolute;
    transition: 0.4s;
}

.item-body__text {
    opacity: 0;
    transform: scale(0);
    height: 0;
    transition: 0.4s;
    width: 80%;
}

.tab__item-active .tab__item-head p {
    text-shadow: 1px 0 1px var(--main-text-color),
        0 1px 1px var(--main-text-color),
        -1px 0 1px var(--main-text-color),
        0 -1px 1px var(--main-text-color);
    color: white;
    font-size: 220px;
    transition: 0.4s;
}

.tab__item-active .item-body__title {
    font-style: normal;
    font-weight: 800;
    margin-bottom: 8px;
    margin-top: 30px;
    transition: 0.4s;
}

.tab__item-active .item-body__text {
    font-size: 20px;
    font-weight: 500;
    margin-left: 35px;
    color: var(--main-text-color);
    opacity: 1;
    height: auto;
    transform: scale(1);
    transition: 0.4s;
}

.tab__item-active .item-body__text p {
    margin-bottom: 15px;
    transition: 0.4s;
}

.tab__item-active .tab__item-button {
    background-color: var(--main-text-color);
    transition: 0.4s;
}

.tab__item-active .tab__item-horizontal {
    transform: rotate(90deg);
    transition: 0.4s;
}

/* Portfolio main **************************
*******************************************/
.portfolio {
    position: relative;
    margin-top: 155px;
}

.portfolio-elips {
    position: absolute;
    z-index: -2;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 60px;
}


.portfolio-wrapper {
    margin-top: 43px;
    position: relative;
}

.portfolio-text {
    content: 'PORTFOLIO';
    display: block;
    font-size: 62.5px;
    font-weight: 800;
    font-family: "ProximaNova";
    mix-blend-mode: multiply;
    background: transparent;
    color: #FFF;
    text-transform: uppercase;
    -moz-transform: matrix(0, -5.11976752045753, 5.11976752045753, 0, 0, 0);
    -webkit-transform: matrix(0, -5.11976752045753, 5.11976752045753, 0, 0, 0);
    -ms-transform: matrix(0, -5.11976752045753, 5.11976752045753, 0, 0, 0);
    position: absolute;
    left: -300px;
    top: 47%;
    z-index: -1;
    text-shadow:
        -0 -0.2px 0 var(--main-text-color),
        0 -0.2px 0 var(--main-text-color),
        -0 0.2px 0 var(--main-text-color),
        0 0.2px 0 var(--main-text-color),
        -0.2px -0 0 var(--main-text-color),
        0.2px -0 0 var(--main-text-color),
        -0.2px 0 0 var(--main-text-color),
        0.2px 0 0 var(--main-text-color),
        -0.2px -0.2px 0 var(--main-text-color),
        0.2px -0.2px 0 var(--main-text-color),
        -0.2px 0.2px 0 var(--main-text-color),
        0.2px 0.2px 0 var(--main-text-color),
        -0.2px -0.2px 0 var(--main-text-color),
        0.2px -0.2px 0 var(--main-text-color),
        -0.2px 0.2px 0 var(--main-text-color),
        0.2px 0.2px 0 var(--main-text-color);
    animation: portfolio-animate 10s ease-in infinite;
}

.portfolio-title {
    font-size: var(--big-text-size);
    color: var(--main-text-color);
    font-weight: 800;
}

.portfolio-wrapper__desc {
    background: white;
    padding: 24px;
    border-radius: 30px;
}

.portfolio-wrapper__desc p {
    font-size: 24px;
    color: var(--main-text-color);
    font-weight: 400;
}

.portfolio-wrapper__item img {
    border-radius: 30px;
    margin-bottom: 35px;
}

.portfolio-wrapper__item-services {
    padding: 7px 20px;
    border-radius: 21px;
    font-size: 20px;
    font-weight: 500;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
}

.portfolio-wrapper__item-title {
    font-size: 35px;
    margin-top: 20px;
    color: var(--main-text-color);
    font-weight: 600;
    word-break: break-all;

}

.portfolio-wrapper__item-desk {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
    color: var(--main-text-color);
}

.portfolio-wrapper__item-link {
    margin-top: 10px;
}

.portfolio-wrapper__item-link a {
    color: var(--main-text-color);
    font-size: 25px;
    font-weight: 600;
    transition: 0.4s;
}

.portfolio-wrapper__item-link a:hover {
    color: var(--color-blue);
    transition: 0.4s;
}

.item-top {
    margin-top: 26px;
}

.portfolio-wrapper__more {
    margin-top: 127px;
    display: flex;
    justify-content: center;

}

.portfolio-wrapper__more a {
    font-size: 36px;
    font-weight: 500;
    color: white;
    background: var(--main-text-color);
    border: 31px;
    height: 63px;
    width: 358px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    transition: 0.4s;
    text-transform: uppercase;
}

.portfolio-wrapper__more a:hover {
    background: var(--color-blue);
    transition: 0.4s;
}

@keyframes portfolio-animate {
    0% {
        text-shadow:
            -0 -0.2px 0 var(--main-text-color),
            0 -0.2px 0 var(--main-text-color),
            -0 0.2px 0 var(--main-text-color),
            0 0.2px 0 var(--main-text-color),
            -0.2px -0 0 var(--main-text-color),
            0.2px -0 0 var(--main-text-color),
            -0.2px 0 0 var(--main-text-color),
            0.2px 0 0 var(--main-text-color),
            -0.2px -0.2px 0 var(--main-text-color),
            0.2px -0.2px 0 var(--main-text-color),
            -0.2px 0.2px 0 var(--main-text-color),
            0.2px 0.2px 0 var(--main-text-color),
            -0.2px -0.2px 0 var(--main-text-color),
            0.2px -0.2px 0 var(--main-text-color),
            -0.2px 0.2px 0 var(--main-text-color),
            0.2px 0.2px 0 var(--main-text-color);
    }

    50% {
        color: var(--color-blue);
        text-shadow:
            -0 -0.2px 0 var(white),
            0 -0.2px 0 var(white),
            -0 0.2px 0 var(white),
            0 0.2px 0 var(white),
            -0.2px -0 0 var(white),
            0.2px -0 0 var(white),
            -0.2px 0 0 var(white),
            0.2px 0 0 var(white),
            -0.2px -0.2px 0 var(white),
            0.2px -0.2px 0 var(white),
            -0.2px 0.2px 0 var(white),
            0.2px 0.2px 0 var(white),
            -0.2px -0.2px 0 var(white),
            0.2px -0.2px 0 var(white),
            -0.2px 0.2px 0 var(white),
            0.2px 0.2px 0 var(white);
    }

    100% {
        text-shadow:
            -0 -0.2px 0 var(--main-text-color),
            0 -0.2px 0 var(--main-text-color),
            -0 0.2px 0 var(--main-text-color),
            0 0.2px 0 var(--main-text-color),
            -0.2px -0 0 var(--main-text-color),
            0.2px -0 0 var(--main-text-color),
            -0.2px 0 0 var(--main-text-color),
            0.2px 0 0 var(--main-text-color),
            -0.2px -0.2px 0 var(--main-text-color),
            0.2px -0.2px 0 var(--main-text-color),
            -0.2px 0.2px 0 var(--main-text-color),
            0.2px 0.2px 0 var(--main-text-color),
            -0.2px -0.2px 0 var(--main-text-color),
            0.2px -0.2px 0 var(--main-text-color),
            -0.2px 0.2px 0 var(--main-text-color),
            0.2px 0.2px 0 var(--main-text-color);
    }
}



/* Why main page *********************
***************************************/

.why {
    margin-top: 143px;
    margin-bottom: 147px;
}

.why-item {
    position: relative;
}

.why-title {
    font-size: var(--big-text-size);
    color: var(--main-text-color);
    font-weight: 800;
}

.why-item h4 {
    min-height: 60px;
    display: flex;
    align-items: flex-start;
    font-size: 25px;
    line-height: 25px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 120px;
}

.why-item p {
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
}

.why-item::before {

    font-size: 200px;
    color: #e1e1e1;
    display: block;
    position: absolute;
    font-weight: 800;
    z-index: -1;
    top: 0;
    left: 0;
}

.why-item:nth-child(1)::before {
    content: "01";
    animation: why-animate 6s infinite;
    animation-delay: 2s;
}

.why-item:nth-child(2)::before {
    content: "02";
    animation: why-animate 6s infinite;
    animation-delay: 3s;
}

.why-item:nth-child(3)::before {
    content: "03";
    animation: why-animate 6s infinite;
    animation-delay: 4s;
}

.why-item:nth-child(4)::before {
    content: "04";
    animation: why-animate 6s infinite;
    animation-delay: 4s;
}

.why-item:nth-child(5)::before {
    content: "05";
    animation: why-animate 6s infinite;
    animation-delay: 5s;
}

.why-item:nth-child(6)::before {
    content: "06";
    animation: why-animate 6s infinite;
    animation-delay: 6s;
}

@keyframes why-animate {
    0% {
        color: #e1e1e1;
    }

    50% {
        color: var(--color-blue);
    }

    100% {
        color: #e1e1e1;
    }
}

/* Brif link *******************************
******************************************* */
.brif-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 23px 20px 67px;
    background-color: var(--color-darkgrey);
    border-radius: 55px;
}

.brif-title {
    color: white;
    font-size: var(--minimal-text-size);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 54px;
    letter-spacing: 2px;
}

.brif-button {
    background-color: var(--color-blue);
    padding: 18px 57px;
    border-radius: 34px;
}

.brif-button a {
    font-size: var(--standart-text-size);
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    transition: 0.4s;
}

.brif-button a:hover {
    color: var(--main-text-color);
    transition: 0.4s;
}

/* We are trusted main *****************************
*************************************************** */
.trusted {
    margin-top: 247px;
}

.trusted-title {
    font-size: var(--big-text-size);
    font-weight: 800;
    line-height: 54px;
    margin-bottom: 38px;
}

.trusted-item {
    height: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 31px;
}

.trusted-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trusted-more a {
    background-color: var(--color-blue);
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 18px 40px;
    border-radius: 32px;
    line-height: 36px;
    transition: 0.4s;
}

.trusted-more a:hover {
    background-color: var(--color-darkgrey);
    transition: 0.4s;
}

/* About agency ********************
************************************ */

.agency {
    margin-top: 197px;
}

.agency-title {
    color: var(--main-text-color);
    font-size: var(--big-text-size);
    font-weight: 800;
    line-height: 79px;
}

.agency-wrapper {
    background-color: var(--color-darkgrey);
    margin-top: 36px;
    padding: 30px 0;
    position: relative;
}

.agency-wrapper__text p {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: 14px 0;
}

.agency-wrapper__img {
    position: absolute;
    top: -85px;
    right: 0;
    z-index: 2;
}

.agency-wrapper__img::after {
    content: "";
    display: block;
    width: 650px;
    height: 650px;
    position: absolute;
    top: calc(25%);
    right: calc(0%);
    background-color: white;
    z-index: -1;
    animation: agency-color 8s infinite;
}

.agency-wrapper__img-text {
    position: absolute;
    bottom: 115px;
    left: 115px;
    color: white;
}

.agency-wrapper__title {
    font-size: var(--standart-text-size);
    font-weight: 600;
    text-transform: uppercase;
}

.agency-wrapper-desc {
    font-size: 28px;
    font-weight: 300;
}

@keyframes agency-color {
    0% {
        background-color: white;
    }

    50% {
        background-color: var(--color-darkgrey);
    }

    100% {
        background-color: white;
    }
}