.main {
    display: flex;
    flex-direction: row;
}

/* Who main page *********************************
************************************************** */

.who-text {
    margin: 12px 0 108px 0;
    width: 80%;

}