/* .main {
    display: flex;
    flex-direction: column;
} */
/* html {
    overflow-x: hidden;
} */


img {
    max-width: 100%;
    display: block;
}

/* Who main page *********************************
************************************************** */
.who {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.who-text {
    margin: 12px 0 108px 0;
    width: 80%;
    font-size: 41px;
}