:root {
    /* color */
    --main-text-color: #3a3a3a;
    --color-darkgrey: #3a3a3a;
    --color-blue: #4285f4;
    /* font-size */
    --minimal-text-size: 29px;
    --standart-text-size: 33px;
    --medium-text-size: 63px;
    --big-text-size: 83px;
}

@media screen and (min-width: 1198.99px) and (max-width: 1920.98px) {
    :root {
        --minimal-text-size: 24px;
        --standart-text-size: 28px;
        --medium-text-size: 50px;
        --big-text-size: 70px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    :root {
        --minimal-text-size: 18px;
        --standart-text-size: 24px;
        --medium-text-size: 40px;
        --big-text-size: 60px;
    }
}

@media (min-width: 320px) and (max-width: 767.99px) {
    :root {
        --minimal-text-size: 15px;
        --standart-text-size: 24px;
        --medium-text-size: 37px;
        --big-text-size: 41px;
    }
}