:root {
    /* color */
    --main-text-color: #3a3a3a;
    --menu-backgorund: #3a3a3a;

    /* font-size */
    --minimal-text-size: 29px;
    --standart-text-size: 33px;
    --medium-text-size: 63px;
    --big-text-size: 83px;
}

/* :text {
    
} */